<div class="row mt-3 bg-transparent">
    <div class="col-sm-3"></div>
    <div class="col-sm-6 p-3">
        <div class="card-course">
            <a href="/course/{{id}}" class="text-decoration-none text-white">
                <div class="">
                    {{course_name}}
                    <br>
                    Number of Holes: {{holes}}
                    <br>
                    Par: {{par}}
                    <br>
                    Year Established: {{established}}
                    <br>
                    Zip code: {{zipcode}}
                </div>
            </a>
        </div>
    </div>
    <div class="col-sm-3"></div>
</div>