{{!-- SEARCH/LIST OF ALL COURCES --}}
<article class="course">
    <div class="">
        <a href="/course/{{id}}">{{course_name}}</a>
        {{!-- <span class=""></span> --}}
    </div>
    <div class="">
        Number of Holes: {{holes}}
        <br>
        Par: {{par}}
        <br>
        Year Established: {{established}}
        <br>
        Zip code: {{zipcode}}
    </div>
</article>