<div class="row mt-4 bg-transparent">
    <div class="col-sm-2"></div>
    <div class="col-md-8 p-3">
        <div class="card" style="padding:10px 20px; border: 3px solid; border-color: rgb(152, 147, 146);">
            <p><strong>Course: </strong>{{course.course_name}}</p>
            <p><strong>Number of Holes: </strong>{{course.holes}}</p>
            <p><strong>Par: </strong>{{course.par}}</p>
            <p><strong>Year Established: </strong>{{course.established}}</p>
            <p><strong>Zipcode: </strong>{{course.zipcode}}</p>


            {{!-- <div class="row bg-secondary">
                <div class="col align-items-start bg-secondary">
                    14 Upvotes 2 DownVotes
                </div>
                <div class="col d-grid gap-2 d-md-flex justify-content-md-end bg-secondary">
                    <button type="submit" class="btn mt-1">Upvote</button><button type="submit"
                        class="btn align-item-end ml-3 mt-1">Downvote</button>
                </div>
            </div> --}}
        </div>
        <div class="col-sm-2"></div>
    </div>
</div>