<div class="row mt-4">
    <div class="col-sm-2"></div>
    <div class="col-md-8 bg-secondary p-3" style="border-radius: 10px; border: none;">
        <p><strong>{{user.username}}</strong></p> 
        <p>{{course.course_name}}</p>
        <p>{{course.holes}}</p>
        <p>{{course.par}}</p>
        <p>{{course.established}}</p>
        <p>{{course.zipcode}}</p>


        {{!-- <div class="row bg-secondary">
            <div class="col align-items-start bg-secondary">
                14 Upvotes 2 DownVotes
            </div>
            <div class="col d-grid gap-2 d-md-flex justify-content-md-end bg-secondary">
                <button type="submit" class="btn mt-1">Upvote</button><button type="submit"
                    class="btn align-item-end ml-3 mt-1">Downvote</button>
            </div>
        </div> --}}
    </div>
    <div class="col-sm-2"></div>
</div>