{{!-- {{#each homeObject.reviews as |allreviews|}}
{{>reviews allreviews}}
{{/each}} --}}

{{!-- <ol class="">
    {{#each homeObject.courses as |course|}}
    <li>
        {{> course course }}
    </li>
    {{/each}}
</ol> --}}


{{!-- {{#each homeObject.played as |played|}}
{{> played played }}
{{/each}} --}}


{{#each homeObject.sorted as |sorted|}}
{{!-- adding reviews --}}
{{#if sorted.review_content}}

<div class="row mt-4 bg-transparent">
    <div class="col-sm-2"></div>
    <div class="col-md-8 p-3">
        <div class="card-course">
            <p class="text-uppercase"><strong>{{user.username}}</strong></p>
            <p>{{course.course_name}}</p>
            <p>{{format_date created_at}}</p>
            <p>{{review_title}}</p>
            <p>{{rating}}/5 Discs</p>
            <p>{{review_content}}</p>
        </div>
    </div>
    <div class="col-sm-2"></div>
</div>
{{/if}}

{{#unless sorted.review_content}}
<div class="row mt-4 bg-transparent">
    <div class="col-sm-2"></div>
    <div class="col-md-8 p-3">
        <div class="card">
            <p class="text-uppercase"><span>{{user.username}}</span></p>
            <p>Course: <span>{{course.course_name}}</span></p>
            <p>Score: <span>{{score}}</span></p>
        </div>
    </div>
</div>
{{/unless}}
{{/each}}