<div class="card-holder text-center bg-transparent">

    <div class="row mt-3 bg-transparent">
        <div class="col-sm-3"></div>
        <div class="col-sm-6 p-3">
            <div class="card">
                <div class="">
                    {{reviewObject.course.course_name}}
                    <br>
                    Number of Holes: {{reviewObject.course.holes}}
                    <br>
                    Par: {{reviewObject.course.par}}
                    <br>
                    Year Established: {{reviewObject.course.established}}
                    <br>
                    City: {{reviewObject.course.city}}
                    <br>
                    State: {{reviewObject.course.state}}
                    <br>
                    Zip code: {{reviewObject.course.zipcode}}
                </div>
            </div>
        </div>
        <div class="col-sm-3"></div>
    </div>
</div>
{{#if loggedIn}}


<div class="container">
    <div class="row justify-content-start">
        <div class="col align-self-start">
            <button class="btn btn-block text-uppercase" id="favorite-course">
                <span class="fa fa-plus"></span>
                Favorite Course
            </button>
        </div>
        <div class="col">
            <button class="btn btn-block text-uppercase" id="saved-course">
                <span class="fa fa-plus"></span> Saved Course
            </button>
        </div>
    </div>
    <hr class="my-4">

    <div class="row">
        <div class="form-group" id="rating-ability-wrapper">
            <h3>Rate This Course</h3>
            <button type="button" class="btn activeBtn" value="1" id="rating-star-1">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-disc"
                    aria-hidden="true" viewBox="0 0 16 16">
                    <path fill-rule="evenodd"
                        d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-6 0a2 2 0 1 1-4 0 2 2 0 0 1 4 0zM4 8a4 4 0 0 1 4-4 .5.5 0 0 0 0-1 5 5 0 0 0-5 5 .5.5 0 0 0 1 0zm9 0a.5.5 0 1 0-1 0 4 4 0 0 1-4 4 .5.5 0 0 0 0 1 5 5 0 0 0 5-5z" />
                </svg>
            </button>
            <button type="button" class="btn" value="2" id="rating-star-2">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                    class="bi bi-disc-fill" viewBox="0 0 16 16">
                    <path fill-rule="evenodd"
                        d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-6 0a2 2 0 1 1-4 0 2 2 0 0 1 4 0zM4 8a4 4 0 0 1 4-4 .5.5 0 0 0 0-1 5 5 0 0 0-5 5 .5.5 0 0 0 1 0zm9 0a.5.5 0 1 0-1 0 4 4 0 0 1-4 4 .5.5 0 0 0 0 1 5 5 0 0 0 5-5z" />
                </svg>
            </button>
            <button type="button" class="btn" value="3" id="rating-star-3">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-disc"
                    viewBox="0 0 16 16">
                    <path fill-rule="evenodd"
                        d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-6 0a2 2 0 1 1-4 0 2 2 0 0 1 4 0zM4 8a4 4 0 0 1 4-4 .5.5 0 0 0 0-1 5 5 0 0 0-5 5 .5.5 0 0 0 1 0zm9 0a.5.5 0 1 0-1 0 4 4 0 0 1-4 4 .5.5 0 0 0 0 1 5 5 0 0 0 5-5z" />
                </svg>
            </button>
            <button type="button" class="btn" value="4" id="rating-star-4">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                    class="bi bi-disc-fill" viewBox="0 0 16 16">
                    <path fill-rule="evenodd"
                        d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-6 0a2 2 0 1 1-4 0 2 2 0 0 1 4 0zM4 8a4 4 0 0 1 4-4 .5.5 0 0 0 0-1 5 5 0 0 0-5 5 .5.5 0 0 0 1 0zm9 0a.5.5 0 1 0-1 0 4 4 0 0 1-4 4 .5.5 0 0 0 0 1 5 5 0 0 0 5-5z" />
                </svg>
            </button>
            <button type="button" class="btn" value="5" id="rating-star-5">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                    class="bi bi-disc-fill" viewBox="0 0 16 16">
                    <path fill-rule="evenodd"
                        d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-6 0a2 2 0 1 1-4 0 2 2 0 0 1 4 0zM4 8a4 4 0 0 1 4-4 .5.5 0 0 0 0-1 5 5 0 0 0-5 5 .5.5 0 0 0 1 0zm9 0a.5.5 0 1 0-1 0 4 4 0 0 1-4 4 .5.5 0 0 0 0 1 5 5 0 0 0 5-5z" />
                </svg>
            </button>
            <label class="control-label" for="rating">
                <input id="selected_rating" name="selected_rating" value="" required="required">
            </label>
        </div>
    </div>

    <form class="form-sign">
        <div class="container">
            <hr class="my-4">
            <div class="row justify-content-start">
                <div class="mb-3 form-label-group">
                    {{!-- <label for="title" id="input" class="form-label-group"></label> --}}
                    <input type="title" class="form-control" name="review-title" placeholder="Title">
                </div>
            </div>

            <div class="input-group" id="input-group-review">
                <div class="input-group-prepend">
                    <span class="input-group-text text-uppercase">Your Review</span>
                </div>
                <textarea class="form-control" aria-label="With textarea" name="review-body"></textarea>
            </div>
    </form>
    <hr class="my-4">
    <div class="row">
        <button type="button" id="new-review" class="btn text-uppercase">Submit Review</button>
    </div>
    {{!-- SCORE --}}
    <div class="row">
        <br>
        <br>
    </div>
    <div class="row">
        <h5>If you have played here let others know how you did!</h5>
    </div>
    {{!-- <div class="row"> --}}
        <form class="form-sign">
            <div class="container">
                {{!-- <div class="row justify-content-start"></div> --}}

                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text text-uppercase">Your Score</span>
                    </div>
                    {{!-- <label for="title" id="input" class="form-label-group"> </label> --}}
                    <input type="title" name="played-score" class="form-control">
                </div>
            </div>
        </form>
        {{!--
    </div> --}}


    <hr class="my-4">
    <div class="row">
        <button type="button" id="new-played" class="btn text-uppercase">Post Score</button>
    </div>
</div>

{{!-- LIST of reviews --}}
{{#each reviewObject.reviews as |review|}}
{{>reviews review}}
{{!-- {{review.course_id}}
{{review.review_title}}
<p class="card-text">{{review.review_content}}</p> --}}
{{/each}}

{{!-- {{#each reviews as |review|}}
{{>reviews review}}
{{/each}} --}}

{{/if}}

{{#if loggedIn}}
<script src="/javascript/review.js"></script>
<script src="/javascript/played.js"></script>
<script src="/javascript/favorite.js"></script>
<script src="/javascript/saved.js"></script>
<script src="/javascript/rate.js"></script>
{{/if}}