<main class="dashboard">
  <div class="header-row" id="header-row">
    <div class="container-fluid">
      <div class="row">
        <div class="col-xs-12">
          <div class="username text-center text-uppercase">
            <h2>{{profileFavoriteObject.user.firstname}} {{profileFavoriteObject.user.lastname}}</h2>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row mt-3">
    <div class="col-sm-1"></div>
    <div class="col-md-3">
      <div class="card-user bg-transparent">
        <div class="card">
          <h4 class="card-title text-uppercase text-center">About
            {{profileFavoriteObject.user.firstname}}</h4>
          <h5 class="card-text text-center">3 Favorite Courses</h5>
          <p class="card-text text-center">
            {{profileFavoriteObject.favorites.0.course.course_name}}
          </p>
          <p class="card-text text-center">
            {{profileFavoriteObject.favorites.1.course.course_name}}
          </p>
          <p class="card-text text-center">
            {{profileFavoriteObject.favorites.2.course.course_name}}
          </p>
          <p class="card-text text-center">Best Score from {{profileFavoriteObject.played.length}} games:
            {{profileFavoriteObject.high_score}}</p>
        </div>
      </div>
    </div>

    <div class="col-md-2">
      <div class="card-holder bg-transparent text-uppercase">
        <div class="card-body">
          <a href="/profile/favorited" class="btn text-white">Favorite Courses</a>
        </div>
      </div>
    </div>

    <div class="col-md-2">
      <div class="card-holder bg-transparent text-uppercase">
        <div class="card-body">
          <a href="/profile/saved" class="btn text-white">Saved Courses</a>
        </div>
      </div>
    </div>

    <div class="col-md-2">
      <div class="card-holder bg-transparent text-uppercase">
        <div class="card-body">
          <a href="/profile/reviewed" class="btn btn1 text-white">Reviewed Courses</a>
        </div>
      </div>
    </div>
    <div class="col-sm-1"></div>
  </div>

  {{#each profileFavoriteObject.favorites as |favorite|}}
  {{>favorites favorite}}
  {{/each}}

</main>